<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Username"name="username" #Username="ngModel" [(ngModel)]="username"autocomplete="username" required>
                    </div>
                    <div *ngIf="isSubmit&&Username.errors">
                      <div style="color:red" *ngIf="Username.errors.required">Username is required</div> 
                    </div></div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" name="password" #Password="ngModel"[(ngModel)]="password"autocomplete="current-password" required>
                      </div>
                      <div *ngIf="isSubmit&&Password.errors">
                        <div style="color:red" *ngIf="Password.errors.required">Password is required</div> 
                      </div></div>
                      <div class="row">
                        <div class="col-6">
                          <button type="submit" class="btn btn-primary px-4" >Login</button>
                        </div>
                        <!--<div class="col-6 text-right">
                          <button type="button" class="btn btn-link px-0">Forgot password?</button>
                        </div>-->
                        <div *ngIf="loginErrMsg" style="color: red;">{{loginErrMsg}}</div>
                      </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
